/* основний колір тексту #212121 
другорядний колір тексту #757575
фон в портфоліо студія #E5E5E5
футер #2F303A
фон команда  #F5F4FA
активне посилання колір кнопка  #2196F3

*/
:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --color-active: #2196F3;
    --footer-color: #2F303A;
    --color-section: #F5F4FA;
    --color-btn: #ffffff;
}

:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

body {
    font-family: roboto, sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.header-list .link.current {
    color: var(--color-active);
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* outline: 2px solid teal; */
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

/*.................................................... HEADER............................................ */
/* .header{
    position: fixed;
    width: 100%;
    background-color: var(--color-btn);
} */
.header-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    display: flex;
    margin-right: 50px;
}

.contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
}

.nav-link {
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-text-color);
    font-weight: 500;
    letter-spacing: 0.02em;
    display: block;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.header-nav .link:hover,
.header-nav .link:focus {
    color: var(--color-active);
}

.header-nav .link:active {
    color: var(--color-active);
}

.header-nav-link {
    margin-right: 50px;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
}

.nav-link.current::after {
    content: "";
    display: block;
    background: #2196F3;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: opasity 250ms var(--timing-function);
}

.header-list .header-nav-link:last-child {
    margin-right: 0;
}

.contacts {
    color: var(--second-text-color);
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.header-social-icon {
    fill: currentColor;
}

.contacts:hover,
.contacts:focus {
    color: var(--color-active);
}

.header-social-icon {
    margin-right: 10px;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-active);
    margin-right: 93px;
}

.logo-color {
    color: var(--main-text-color);
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.header-contacts .contacts-item+.contacts-item {
    margin-left: 50px;
}

.header-container {
    display: flex;
    align-items: center;
}


/*.................................................... FOOTER............................................ */
.footer {
    background: var(--footer-color);
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.street-address {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-btn);
    font-style: normal;
    margin-bottom: 9px;
    margin-top: 20px;
}

.addres-link {
    color: var(--second-text-color);
    font-style: normal;
}

.mail-link:hover,
.mail-link:focus {
    color: var(--color-btn);
}

.mail-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.7;
}

.tel-link:hover,
.tel-link:focus {
    color: var(--color-btn)
}

.tel-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.7;
}

.logo-color-white {
    color: var(--color-btn);
}

.logo-footer {
    margin-bottom: 20px;
}

.mail-link-address {
    margin-bottom: 9px;
}

.footer-adress {
    display: inline-block;
    margin-right: 70px;
}


.footer-text {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-btn);
    margin-bottom: 20px;
}


.footer-social-list {
    display: inline-flex;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--color-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--color-btn);
    background: rgba(255, 255, 255, 0.1);
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.footer-social-icon {
    fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--color-active);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--color-active);
    color: var(--color-btn);
}

.footer-social-list .footer-social-item+.footer-social-item {
    margin-left: 10px;
}

.footer-social-list-icons {
    margin-right: 85px;
}

.form-register-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-btn);
    margin-bottom: 20px;
}

.form-register-text {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    margin-right: 12px;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: baseline;
}

.button-reg-icon {
    margin-left: 10px;
}

/*............................................... HERO STUDIO............................................ */
.main-hero-studio {
    background-color: var(--footer-color);
    text-align: center;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../images/main.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-hero-title-studio {
    color: var(--color-btn);
    max-width: 696px;
    text-align: center;
    font-size: 44px;
    line-height: 1.3;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 0.06em;
    background-color: transparent;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.studio-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 10px;
}

.after-title-studio {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: var(--second-text-color);
    width: 270px;
}

.studio-title-about {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.hero-btn {
    font-family: Roboto, sans-serif;
    background: var(--color-section);
    color: var(--main-text-color);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.hero {
    padding-top: 94px;
    padding-bottom: 94px;
    border-top: 1px solid #ECECEC;
}

.hero-btn:hover,
.hero-btn:focus {
    font-family: Roboto, sans-serif;
    background-color: var(--color-active);
    color: var(--color-btn);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.main-hero-btn-studio {
    background: var(--color-active);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--color-btn);
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.main-hero-btn-studio:hover,
.main-hero-btn-studio:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-hero-studio {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-img-text {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-btn);
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}

.hero-img-container {
    position: relative;
    overflow: hidden;
}

.hero-item:hover .hero-img-text {
    transform: translateY(0%);
}

/*.................................................... TEAM.............................................. */
.team-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-after-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--second-text-color);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.team-studio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.team {
    background: var(--color-section);
}

.team-info {
    padding-top: 30px;
    padding-bottom: 30px;
}

.info, .team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-container {
    display: flex;
}

.team-container .li-team+.li-team {
    margin-left: 30px;
}

.li-team {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
}

.team-social-list {
    display: flex;
    justify-content: center;
}

.team-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--color-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgba(175, 177, 184, 1);
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.team-social-icon {
    fill: currentColor;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--color-active);
    color: var(--color-btn);
}

.team-social-item+.team-social-item {
    margin-left: 10px;
}

.team-social-icon:hover,
.team-social-icon:focus {
    fill: var(--color-btn);
}

/*.................................................... INFO............................................ */
.info-li-title:nth-child(1):before {
    background-image: url(../images/antenna.svg);
    background-size: 70px;
}

.info-li-title:nth-child(2):before {
    background-image: url(../images/clock.svg);
    background-size: 70px;
}

.info-li-title:nth-child(3):before {
    background-image: url(../images/diagram.svg);
    background-size: 70px;
}

.info-li-title:nth-child(4):before {
    background-image: url(../images/astronaut.svg);
    background-size: 70px;
}


.info-container .info-li-title+.info-li-title {
    margin-left: 30px;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: var(--color-section);
    background-size: contain;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.info-container {
    display: flex;
}

/*.................................................... WORK............................................ */
.img-list-studio {
    display: flex;
}

.img-list-studio .img-studio+.img-studio {
    margin-left: 30px;
}

.work {
    padding-bottom: 94px;
}

.work-img {
    position: relative;

}

.work-img-text {
    position: absolute;
    background: rgba(47, 48, 58, 0.8);
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-btn);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.................................................... HERO PORTFOLIO............................................ */
.hero-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.hero-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.hero-list-after-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}

.hero-list-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.hero-list-btn .hero-item-btn+.hero-item-btn {
    margin-left: 8px;
}

.hero-item {
    background: var(--color-btn);
    border: 1px solid #EEEEEE;
    width: 370px;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.hero-item:hover,
.hero-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.hero-list {
    display: flex;
    flex-wrap: wrap;
}

.hero-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.hero-item:not(:nth-child(n+7)) {
    margin-bottom: 30px;
}

/*.................................................... CLIENT............................................ */
.client-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-list-item {
    width: 170px;
    height: 92px;
}

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-list .client-list-item+.client-list-item {
    margin-left: 30px;
}

.client-title {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.client-list-link {
    color: rgba(175, 177, 184, 1);
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.client-social-icon {
    fill: currentColor;
}

.client-list-link:hover,
.client-list-link:focus {
    color: var(--color-active);
    border-color: var(--color-active);
}

/* ............................form................................. */
input {
    outline: none;
}

.backdrop {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
}

.modal {
    width: 528px;
    min-height: 581px;
    background: var(--color-btn);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-property: var(--timing-function);
    padding: 40px 40px;
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
    color: var(--footer-color);
}

.modal-close-x {
    fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
    color: var(--color-active);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.title-form {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 12px;
}

.fild {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 448px;
    height: 40px;
    padding-left: 40px;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
    cursor: pointer;
}

.fild:hover,
.fild:focus {
    border-color: var(--color-active);
}

.fild:hover~.modal-icon,
.fild:focus~.modal-icon {
    color: var(--color-active);
}

.form-title-in {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--second-text-color);
    margin-bottom: 4px;
}

.enter-fild {
    position: relative;
    top: 50%;
    color: var(--main-text-color);
}

.modal-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    fill: currentColor;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.form-text {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    align-items: flex-start;
    resize: none;
}

textarea {
    width: 448px;
    height: 120px;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
    cursor: pointer;
    outline: none;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

textarea:hover,
textarea:focus,
textarea:active {
    border-color: var(--color-active);
}

.checkbox-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.check {
    margin-right: 7px;
}

.form-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--color-btn);
    border: none;
    width: 200px;
    height: 50px;
    background-color: var(--color-active);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
    cursor: pointer;

}

.form-button:hover,
.form-button:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-link {
    color: var(--color-active);
}

.button-reg {
    width: 200px;
    height: 50px;
    background-color: var(--color-active);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--color-btn);
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 250ms;
    transition-property: var(--timing-function);
}

.button-reg:hover,
.button-reg:focus {
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-in {
    display: flex;
    flex-direction: column;
}

.form .form-in+.form-in {
    margin-top: 10px;
}

.checkbox {
    width: 16px;
    height: 15px;
    margin-right: 7px;
}

.checkbox-ok {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------CHECKBOX 1-------------------------- */
/* .checkbox-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 7px;
    cursor: pointer;
}

.checkbox:checked+.checkbox-text::before {
    border: none;
    background-image: url(../images/check.svg);
    /* background-color: var(--color-active); */
/* } */
/* ----------------------CHECKBOX 2------------------------------ */
.checkbox-text .check-in-span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 2px;
    margin-right: 7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
}

.checkbox:checked+.checkbox-text .check-in-span {
    border: none;
    background-color: var(--color-active);
    fill: var(--color-btn);
}